.sidebar {
    width:200px;
    height:100%;
    border-radius: 0.5em;
    background-color: rgba(156, 232, 233, 0.8);
    -moz-box-shadow:    inset 2px -2px 6px #000000;
    -webkit-box-shadow: inset 2px -2px 6px #000000;
    box-shadow:         inset 2px -2px 6px #000000;
    background: linear-gradient(70deg, rgb(255, 210, 151), rgb(130, 224, 236));
}

.sidebar div {

    margin:60px 0px 30px 0px;
}

.sidebar div nav{
    height:100%;

    margin: 30px 0 30px 0;
}

.f-container-outer {
    height: 100%;
    margin: 0;
	display: flex;
	flex-direction: row;
}

.f-container-right {
    height: 100%;
    width:100%;
    margin: 0 5px 0 5px;
    display: flex;
	flex-direction: column;
    
}

.f-container{
    height:100%;
    display:flex;	
}

.container-canvas {
    height:50%;
    width:100%;
}

.container-edit{
    height:54%;
    width:80%;
    order:50;	
    border: 2px solid rgba(119, 133, 153, 0.8);
    border-radius: 0.2em;
    -moz-box-shadow-bottom: 4px 4px 4px rgb(53, 74, 141);
    -webkit-box-shadow-bottom: 4px 4px 4px rgb(53, 74, 141);
    box-shadow: 4px 4px 4px rgb(53, 74, 141);
    background-color: rgb(139, 185, 149, 0.2);
    display:flex;	
    position: fixed;
    top: 40%;
    left: 18%;
	flex-direction: column;

}

.flex-right {
    display: flex;
    justify-content: flex-end;
    margin: 5px;
}

#transparent-toggle {
    height: 50px;
    width: 50px;
    right: 20px;
    border: 1px solid rgba(106, 129, 155, 0.8);
    border-radius: 50%;
    background-color: rgba(168, 255, 241, 0.8);
    -moz-box-shadow-bottom: 4px 4px 4px rgb(53, 74, 141);
    -webkit-box-shadow-bottom: 4px 4px 4px rgb(53, 74, 141);
    box-shadow: 4px 4px 4px rgb(53, 74, 141);
}

#transparent-toggle:active{
    height: 50px;
    width: 50px;
    right: 20px;
    border: 1px solid rgba(106, 129, 155, 0.8);
    border-radius: 50%;
    background-color: rgba(2, 255, 213, 0.8);
    /* -moz-box-shadow-bottom: 4px 4px 4px rgb(53, 74, 141);
    -webkit-box-shadow-bottom: 4px 4px 4px rgb(53, 74, 141);
    box-shadow: 4px 4px 4px rgb(53, 74, 141); */
    transform: translateY(2px);
}

#bottom-empty {
    width: auto;
    height: 316px;
}

nav {
    width: 100%;
}

ul {
    margin: 0;
    padding: 0;
}
ul li {
    list-style: none;
    margin:6px;
    /* color:white; */
    /* width:100%; */
    text-align: center;
    border-radius: 0.1em;
    border: 1px solid rgb(0, 0, 0);
}

/* ul li:active {
    background-color: rgb(156, 187, 233);
} */

.list-click {
    border: 3px solid rgba(218, 142, 91);
    border-radius: 3em;
    -moz-box-shadow-bottom: 4px 4px 4px black;
    -webkit-box-shadow-bottom: 4px 4px 4px black;
    box-shadow: 4px 4px 4px black;
}

ul li:before{
    content: '';
    background: inherit;
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    z-index: -1;
  }

ul li:hover {
    /* font-style: italic; */
    /* border-radius: 0.5em; */
    /* border: 2px solid red;ã€€*/
    /* box-shadow: 0 10px 25px 0 rgba(0, 0, 0, .5); */
    background-color: rgba(156, 232, 233);
    -moz-box-shadow-bottom: 4px 4px 4px black;
    -webkit-box-shadow-bottom: 4px 4px 4px black;
    box-shadow: 4px 4px 4px black;
    -webkit-transform: skewX(150deg) ;
    -moz-transform: skewX(150deg) ;
    transform: skewX(150deg) ; 
    transition-duration: 0.3s;
}



html {
    height: 100%;
}
  
body {
    height: 100%;
    margin: 0;
}